<div class="container w-50">

    <!-- Embedded video card -->
    <div class="card">
        <div class="card-title">{{name}}</div>
        <div class="embed-responsive embed-responsive-16by9">
            <iframe src="{{url}}" width="640" height="480" allow="autoplay"></iframe>
            <p>{{description}}</p>
        </div>
    </div>

    <br>

    <h3 class="comments-title text-center">Comments</h3>

    <!-- Existing file comments -->
    <div class="be-comment">
        <div class="be-comment-content">
            <span style="display: inline-block; width: 49%; margin-bottom: 15px;">
                <h5>{{user.username}}</h5>
            </span>
            <span
                style="text-align: right; font-size: 11px; color: #b4b7c1; display: inline-block; width: 49%; margin-bottom: 15px;">
                <i class="fa fa-clock-o"></i>
                Timestamp
            </span>
            <p
                style="font-size: 13px; line-height: 18px; color: #7a8192; display: block; background: #f6f6f7; border: 1px solid #edeff2; padding: 15px 20px 20px 20px;">
                {{comment.text}}
            </p>
        </div>
    </div>

    <!-- New file comment submission form -->
    <form>
        <div class="form-group">
            <label for="inputComment">Leave a Comment!</label>
            <input type="text" class="form-control" placeholder="Message">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    <br>
</div>
<script src="./js/file.js"></script>
<script src="./js/comment.js"></script>